@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Bebas_Neue/bebas_neue.css);

.page {
  width: 100%;
  font-family: 'Bebas Neue', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header__content {
  width: 100%;
}

.header__company-info {
  padding: 0 20px;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  .header__company-info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__company-info_hide {
  display: none;
}

.header__logo {
  width: 183px;
  z-index: 1;
  margin-top: 2px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 140px;
    margin-top: 17px;
  }
}

.header__title {
  color: #6c6c57;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin: 15px 0 0;
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 4vw;
    margin-top: calc(32px - 1.4vw);
  }
}

.header__social-link {
  justify-self: end;
  width: 40px;
  height: 40px;
  background-color: #6c6c57;
  border-radius: 8px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__social-icon {
  width: 24px;
  height: 24px;
  background-image: url("../images/vk.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__menu {
  background-color: #6c6c57;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  padding:9px 20px;
}

.header__fixed-logo {
  text-decoration: none;
  visibility: hidden;
  display: block;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  opacity: .8;
  cursor: pointer;
}

.header__fixed-logo:hover {
  transition: .25s;
  color: #cbba92;
}

.header__fixed-logo_visible {
  visibility: visible;
 }

.header__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__link {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
}

.link-hover {
  transition: 0.25s;
  cursor: pointer;
}

.link-hover:hover {
  color: #cbba92;
}

.link-hover:visited {
  color: #cbba92;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.swiper {
  margin-top: 64px;
  position: relative;
  overflow: hidden;
  display: block;
}

.swiper__wrapper {
  display: flex;
}

.swiper__slide {
  flex-shrink: 0;
  position: relative;
}

.slider__info {
  max-width: 32%;
  position: absolute;
  bottom: 11%;
  left: 9%;
}

.slider__text {
  font-size: 2.6vw;
  color: #fff;
  margin: 0;
}

.slider__link {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  color: #fff;
  background-color: #6c6c57;
  border-radius: 7px;
  font-size: 20px;
  text-decoration: none;
}

.button-hover {
  transition: 0.25s;
  cursor: pointer;
}

.button-hover:hover {
  background-color: #cbba92;
}

.slider__img {
  display: block;
  width: 100%;
  aspect-ratio: 19/6;
  object-fit: cover;
}

.swiper__button {
  position: absolute;
  z-index: 10;
  top: calc(50% - 27px);
  width: 30px;
  height: 54px;
  background-size: contain;
  cursor: pointer;
}

.swiper__button_next {
  background-image: url("../images/right.svg");
  right: 10px;
}

.swiper__button_prev {
  background-image: url("../images/left.svg");
  left: 10px;
}

.swiper__pagination {
  position: absolute;
  z-index: 10;
  bottom: 18px;
  left: calc(50% - 35px);
  display: flex;
  gap: 20px;
  justify-content: center;
}

.swiper-pagination-bullet{
  background-color: #1e2b1d;
  width: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.description {
  max-width: 1280px;
  width: 90%;
  align-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
  justify-content: space-between;
}

.description__title {
  margin: 0;
  width: 262px;
  line-height: 1;
  font-size: 52px;
  font-weight: 600;
  color: #6c6c57;
}

@media screen and (max-width: 1023px) {
  .description__title {
    width: 25.5vw;
    font-size: 5vw;
  }
}

.description__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description__line {
  margin-top: 25px;
  width: 100%;
  border: 1px solid #6c6c57;
  opacity: .5;
}

@media screen and (max-width: 1023px) {
  .description__line {
    margin-top: calc(2.5vw - 1px);
  }
}

.description__paragraph {
  margin: 0;
  line-height: 1.4;
  font-size: 24px;
  font-weight: normal;
  color: #6c6c57;
}

@media screen and (max-width: 1023px) {
  .description__paragraph {
    font-size: 2.35vw;
  }
}

.catalog {
  max-width: 1280px;
  width: 90%;
  align-self: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 1023px) {
  .catalog {
    padding-bottom: 50px;
  }
}

.catalog__title {
  font-size: 48px;
  color: #6c6c57;
  font-weight: 400;
  margin: 0 0 20px;
}

@media screen and (max-width: 1023px) {
  .catalog__title {
    font-size: 4.7vw;
  }
}

.catalog__card-container{
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}

.catalog__card {
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: .25s;
}

.catalog__card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.catalog__card-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  display: block;
}

.catalog__card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__card-title {
  font-size: 24px;
  min-height: 48px;
  line-height: 1;
  font-weight: 400;
  margin: 20px 0;
  color: #6c6c57;
}

.catalog__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.catalog__card-price {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  color: #6c6c57;
}

.catalog__product-link {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6c6c57;
  border-radius: 7px;
  transition: .25s;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.catalog__social-icon {
  background-image: url("../images/vk.svg");
  width: 29px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25px;
}

.about {
  margin: 0 50px;
  max-width: 1280px;
  width: 90%;
  align-self: center;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__heading {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
  justify-content: space-between;
}

.about__title {
  margin: 0;
  width: 262px;
  line-height: 1;
  font-size: 52px;
  font-weight: 600;
  color: #6c6c57;
}

@media screen and (max-width: 1023px) {
  .about__title {
    width: 25.5vw;
    font-size: 5vw;
  }
}

.about__line {
  margin-top: 25px;
  width: 100%;
  height: 0;
  border: 1px solid #6c6c57;
  opacity: .5;
}

@media screen and (max-width: 1023px) {
  .about__line {
    margin-top: calc(2.5vw - 1px);
  }
}

.about__map {
  max-width: 1280px;
  aspect-ratio: 2/1;
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 50px;
}

.about__company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__company-desc {
  max-width: 31%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #6c6c57;
}

.about__company-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .about__company-title {
    font-size: 4.1vw;
  }
}

.about__company-subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .about__company-subtitle {
    font-size: 2.35vw;
  }
}

.about__img-container {
  width: 57%;
  display: flex;
  justify-content: end;
  flex-wrap: nowrap;
  gap: 5%;
}

.about__img {
  display: block;
  max-width: 220px;
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  padding: 20px 0;
  background-color: #6c6c57;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__logo {
  margin: 0 60px 0 20px;
  width: 265px;
}

@media screen and (max-width: 1023px) {
  .footer__logo {
    width: 25%;
    margin-right: 30px;
    margin-left: 10px;
  }
}

.footer__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__menu-link {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .footer__menu-link {
    font-size: 2vw;
  }
}

.footer__info {
  margin: 0 20px 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 1023px) {
  .footer__info {
    margin-right: 10px;
  }
}

.footer__title {
  width: 100%;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  text-align: end;
}

@media screen and (max-width: 1023px) {
  .footer__title {
    font-size: 3.9vw;
  }
}

.footer__phone-number {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  .footer__phone-number {
    font-size: 3.9vw;
  }
}

.button-up {
  position: sticky;
  visibility: hidden;
  opacity: 0;
  bottom: 20px;
  left: 20px;
  margin: 0 0 20px 20px;
  transition: opacity .25s, visibility .25s, background-color .25s;
  background-color: #cbba92;
  z-index: 20;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-up:hover {
  background-color: #6c6c57;
}

.button-up_visible {
  visibility: visible;
  opacity: 1;
}

.button-up__link {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../images/up.svg");
  background-repeat: no-repeat;
  background-size: contain;
}